.html
{
    scroll-behavior: smooth;
}
#loading
{
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("loader.gif") no-repeat fixed center;
    z-index: 9999;
}
/* Resetting all margin paddings etc*/
* {
    margin: 0px;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
html{
    scroll-behavior: smooth;
}

/*-- NOTIFICATION BAR --*/
.notification-bar {
    background-color: #f7c142;
    color: #ffffff;
}
.notification-bar-text {
    text-align: center;
    margin:0px;
    min-height: 41px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.notification-bar p {
    margin: 5px 0 5px -5px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: none;
    font-weight: 400;
}

/*-- MESSAGE DISPLAY--*/
.message{
    cursor: pointer;
    text-decoration: none;
    color: white !important;
    font-family: Montserrat,sans-serif;
    font-weight: 450;
}
.message:hover{
    cursor: pointer;
    text-decoration: none;
    color: white !important;
    font-family: Montserrat,sans-serif;
    font-weight: 450;
}

/*--NAVBAR--*/

.nav{
    background-color:transparent;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0px;
    z-index: 1;
    margin: 0px;

}
.navbar-brand
{
    position:absolute;
    left:calc(50% - 30px);
}
.nav li
{
    display: inline-block;
    margin: 5px 5px 0px 5px;
    font-size: 0.5rem;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 30px ;

}
.nav li a
{
    color: black !important;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: none;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
}
.nav:hover
{
    top:0;
    width: 100%;
    background:white;
    transition: fade-in;
    transition-delay: 1s;
}
.nav:hover li
{
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 25px;

}
.nav:hover li a
{
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: none;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    color: black !important;
}
.sticky
{
    position: fixed;
    top:0;
    width: 100%;
    background:white;
    transition: fade-in;
    transition-delay: 0.5s;
}
.sticky li
{
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 25px;

}
.sticky li a
{
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: none;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    color: black !important;
}
/*--FOOTER--*/
.footer {
    padding:50px 0;
    background-color: #f2f2f2;
    color: #636363;
}

.footer h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}

.footer ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}
.footer ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
}

.footer ul a:hover {
    opacity:0.8;
}
/*--RESPONSIVENESS--*/
@media (max-width:767px) {
    .footer .item:not(.social) {
        text-align:center;
        padding-bottom:20px;
    }
}

.footer .item.text {
    margin-bottom:36px;
}

@media (max-width:767px) {
    .footer .item.text {
        margin-bottom:0;
    }
}

/*--FOOTER ITEMS--*/
.footer .item.text p {
    opacity:0.6;
    margin-bottom:0;
}

.footer .item.social {
    text-align:center;
}

@media (max-width:991px) {
    .footer .item.social {
        text-align:center;
        margin-top:20px;
    }
}

.footer .item.social > a {
    font-size:20px;
    width:40px;
    height:40px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
}

.footer .item.social > a:hover {
    opacity:0.9;
}

.footer .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.5;
    font-size:13px;
    margin-bottom:0;
}

/*MAIN CSS*/
div{
    display: block;
}

body{
    font-size: 14px;
    color: #333;
    font-family: Montserrat,sans-serif;
}
.maindiv{
    padding-left: 120px;
    padding-top: 50px;"
}

.margin{
    margin-bottom: 10px;
}
img {
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    list-style: none;
    text-align: left;
    width: 2048px;
    aspect-ratio: auto 2048 / 2048;
    box-sizing: border-box;
    border: 0 none;
    height: auto;
    max-width: 100%;
    margin-bottom: -16px;

    float: none;
    display: inline-block;
    align-items: center;
    size: auto;
}

h1{
  text-align: center;
    font-family: sans-serif;
}

p{
    margin: 0 0 15px 0;
}

/*Responsive behaviour*/
@media (max-width:992px)
{
    .nav:hover li
    {
        margin-left:10px;
        padding-left: 0px;
        padding-top: 15px;
    }
    .nav{
        position: absolute;
        top: 0%;
        margin-left: 0%;
        background-color:white;
    }
    .nav:hover
    {
        top:0;
        width: 100%;
        transition: fade-in;
        transition-delay: 1s;
    }
    .navbar-brand
    {
        display: none;
    }
}
.navbar-toggler{
    border: 1px solid white !important;
    color: white !important;
}
/*--CUSTOM CSS--*/
.breadcrumb{
    color: black;
    background-color: white;
}
.breadcrumb breadcrumb-item{
    color: black;
}